@(metas: List[Meta], metaForm: Form[Meta], semanas:
List[Integer])(mensagemDeErro : String)


<!DOCTYPE html>
<html>
<head>
<title>Suas metas</title>
<meta charset="UTF-8">
<meta name=description content="">
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen">
</head>
<body>
 	<div class="content">
 		<div class="col-sm-4">
			<h2 class="text-center">Adicione uma nova Meta</h2>

			<form action="@routes.Application.novaMeta()" method="post">
				<label for="nome"> Nome: </label> 
				<input type="text" name="nome" id="inputNome" class="form-control" required="required">
				<label for="nome"> Descrição: </label> 
				<input type="text" name="descricao" id="inputNome" class="form-control" required="required"> 
				<label for="nome"> Data: </label> 
				<input type="date" name="dataLimite" class="form-control"></input>
				<input type="submit" class="btn btn-primary" value="Create">
			</form>
			<h2>@mensagemDeErro</h2>
		</div>
		<div class="col-md-7">
			<div>
			<h2 class="text-center">Metas cadastradas</h2>
			@if(!semanas.isEmpty){
			
			@for(semana <- semanas){
			<div class="panel panel-primary">
				<div class="panel-heading">Metas para a semana @semana</div>
				<div class="panel-body">


					<table class="table table-striped table-condensed table-hover">
						<thead>
						<tr>
							<th>Titulo</th>
							<th>Descrição</th>
							<th>Data limite</th>							
							<th>Concluida</th>
						</tr>
					</thead>

						@if(!metas.isEmpty){
						<tbody>
							@for(meta <- metas){ 
								@if(meta.getSemanaDaMeta() == semana){
									<tr>
									<td>@meta.getNome()</td>
									<td>@meta.getDescricao()</td>
									<td>@meta.getDataLimite()</td>									
									<td>@meta.getStatusTexto()</td>
									<td>
										<form action="@routes.Application.setStatusMeta(meta.getId())"method="post">
											<input type="submit" class="btn btn-default" value="Concluir">
										</form>
									</td>
									<td>
										<form action="@routes.Application.preEdita(meta.getId())" method="post">
											<a href="/editar">
												<input type="submit" class="btn btn-primary" value="Editar" > 
											</a>
										</form>
									</td>
									<td>
										<form action="@routes.Application.deletaMeta(meta.getId())"method="post">
											<input type="submit" class="btn btn-danger" value="Delete">
										</form>
									</td>
								</tr>

							} }
							</tbody>
							}
						</table>
						</div>
					</div>
				}
				}else{
					<h2 class="text-center">Você não possui metas cadastradas!</h2>
				}
		</div>
	</div>
	</div>

	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Bootstrap JavaScript -->
	<script
		src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>